html {
    scroll-behavior: smooth;
}
  
body{
    background-color: whitesmoke;
    color:white;    
}

/* ============================================================ */
    /* HOME SECTION */


#home, #about, #c2a, #guarantees, #testimonials{
    width: 100%;
    height:auto;
    border:2px inset rgba(255, 255, 255, .3);
    position:relative;
}

#home::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:url('images/homeUnderlayTest.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    opacity:.7;
    z-index:-1
}

.home-center, .about-center{
    display:flex;
    flex-direction: row;
    width:70%;
    margin:10% auto;
}

.center-left{
    width:90%;
    /* border:1px solid green; */


}

.home-contact-form{
    width:98%;
    max-width: 98%;
    min-width: 50%;
    background-color: rgba(16, 108, 184, .8);
    margin:7% 0;
    padding:20px;
    /* border:5px dotted white; */
}


.required{
    color:red;
}



.center-right{
    height:auto;
    min-width:40%;

}

.test-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:50px


}

.home-tests{
    background-color: rgba(0, 0, 0, .8);
    /* border:1px dashed orange; */
    margin: 1% auto;
    padding:15px;
    flex-shrink: 2;
    border-radius:10px;


}

/* ============================================================ */
    /* ABOUT SECTION */

    .about-center{
        color:black;
    }

    .about-center .center-right img{
        width: 75%;
        height:70%;
        margin:5%;
        
    }

    .as-is-wrapper{
        text-align: center;
        position:relative;

    }

    .as-is-wrapper::before{
        content:'';
        background-image: url('images/as-IsBackground.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        opacity:.7;
        z-index:-1;
    }



    .as-is-conditions{
        display:inline-block;
        width:20%;
        margin:3%;
        color:black;
        border: 3px inset silver;
        padding:1%;
        background:black;
        color:white

    }

/* ============================================================ */
    /* CALL TO ACTION SECTION */



    .c2a-center{
        width:70%;
        margin:10% auto;
        color:black;
        
    }

    .c2a-center h1{
        text-align: center;
    }

    .c2a-steps-wrapper, .guarantee-wrapper{
        display:flex;
        justify-content: space-around;
    }

    .c2a-steps{
        /* background-color:rgba(16, 108, 184, .8); */
        background-color:rgba(16, 108, 184, .8);
        border:1px solid silver;
        width:30%;
        padding:3%;
    }

    .c2a-steps a{
        color: white;
    }

    .c2a-steps a:hover{
        color:red;
    }

    table {
        border-collapse: collapse;
        margin: 2% auto;
      }
      
    td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    }

    
/* ============================================================ */
    /* GUARANTEE SECTION */

    #guarantee-section{

        background-image: linear-gradient(0deg,black,  rgba(  16, 108, 184, .8));
    }

    #guarantee-section h1{
        font-weight: bolder;
        text-align: center;
    }

    .guarantee-wrapper{

    }

/* ============================================================ */
    /* CONTACT SECTION */
    #contact{
        background-image: linear-gradient(0deg, rgba(  16, 108, 184, .8), black);
    }

    .contact-center{
        width:50%;
        margin:0 auto;
        padding:10%;
        color:black;
        /* border:2px outset black; */
        padding:5% 2%;
    }

    .contact-center h2{
        color:white;
        text-align: center;
    }

    .contact-center form input{
        margin:2px .5px;
    }

    .contact-center form button{
        margin:5px .5px;
  
    }

    .contact-wrapper form{
        background-color: whitesmoke;
    }


/* ============================================================ */
    /* FOOTER SECTION */

footer{
    background-color: black;
}
.footer-info p{
    text-align: center;
    font-size: 1em;
}

.footer-info a:hover{
    color:red;
}

.footer-info a, a:visited{
    color:white;
}

.footer-wrapper{
    display:flex;
    justify-content: space-evenly;
}

.footer-wrapper div{
    margin:5%;
    width:20%;
    /* width:33%; */
}

.footer-wrapper .contact-info ul{
    list-style: none;
}

/* ============================================================ */







    








